# config.neon

extensions:
    resource: Contributte\DI\Extension\ResourceExtension
    api: Apitte\Core\DI\ApiExtension

api:
    debug: %debugMode%
    catchException: true # Sets if exception should be catched and transformed into response or rethrown to output (debug only)
    plugins:
            Apitte\Core\DI\Plugin\CoreDecoratorPlugin:
            Apitte\Negotiation\DI\NegotiationPlugin:
            Apitte\Debug\DI\DebugPlugin:
                debug:
                    panel: %debugMode%
                    negotiation: %debugMode%

resource:
    resources:
        App\Api\V1\Controllers\:
            paths: [%appDir%/Api/v1/Controllers]

services:
    - factory: Apitte\Debug\Negotiation\Transformer\DebugTransformer
      tags: [apitte.negotiator.transformer: [suffix: debug, fallback: true]]